[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "circom"]
	path = circom
	url = https://github.com/june-in-exile/testament-circom.git
